@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: 'Orbitron', monospace;
    background-color: #0A0A0A;
    color: #FFFFFF;
}


/* Global scroll fix for single-screen immersion */

html {
    scroll-behavior: smooth;
}